FLASK_DEBUG=
FLASK_SECRET_KEY=
REQUESTS_PATHNAME_PREFIX=/application/baseapp/
SECURITY_PASSWORD_SALT=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FLASK_GOOGLE_CLIENT_ID=
FLASK_GOOGLE_CLIENT_SECRET=
FLASK_GOOGLE_CLIENT_CALLBACK=
FASTAPI_ABOUT_REDIRECT_URL=
FASTAPI_ABOUT_URL=
FASTAPI_DATA_REDIRECT_URL=
FASTAPI_DATA_URL=
FASTAPI_DATA_INTERNAL_URL=
FASTAPI_DATA_EXTERNAL_URL=
FASTAPI_ABOUT_INTERNAL_URL=
FASTAPI_ABOUT_EXTERNAL_URL=
FASTAPI_DATA_INTERNAL_SERVER=
FASTAPI_DATA_CLIENT_ID=
FASTAPI_DATA_CLIENT_SECRET=
FASTAPI_ABOUT_CLIENT_ID=
FASTAPI_ABOUT_CLIENT_SECRET=
FASTAPI_CLIENT_ID=
FASTAPI_CLIENT_SECRET=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_CONTAINER=
ABOUT_SQL_URL=
DATA_SQL_URL=
ENV_UID=
ENV_GID=
ENV_USERNAME=
ENV_GROUPNAME=
ENV_MARIADB_USER=
ENV_MARIADB_PASSWORD=
ENV_MARIADB_ROOT_PASSWORD=
ENV_MARIADB_DATABASE=
ENV_MARIADB_CONTAINER=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDEREMAIL=
MAIL_RECEIVEREMAIL=
REDIS_URL=
API_SALT=
TWINE_REPOSITORY=
TWINE_PASSWORD=
TWINE_USERNAME=
